@model mvc3.Models.ViewModel.forgotPassword
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="login-account section-padding">
    <div class="container">
        <div class="row">

         
            <div class="col-md-6 col-sm-6">
                <form action="@Url.Action("ForgotPassword","User")" class="create-account-form" method="post">
                    <h2 class="heading-title">
                      Şifremi Unuttum
                    </h2>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p class="form-row">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </p>
                    
                    <div class="submit" style="display:inline-block;">
                        <button name="submitcreate" id="submitcreate" type="submit" class="btn-default">
                            <span>
                                <i class="fa fa-user left"></i>
                                Gönder
                            </span>
                        </button>
                    </div>
                    
                </form>
            </div>
            <!--Messages/alerts-->
            <div class="col-md-6 col-sm-6">
                @if (ViewBag.status != null && Convert.ToBoolean(ViewBag.status))
                {
                    if (ViewBag.status == true)
                    {
                        <div class="alert alert-success">
                            <strong>Tebrikler!</strong>@ViewBag.message
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <strong>Uyarı!</strong>@ViewBag.message
                        </div>
                    }
                }
            </div>

        </div>
    </div>
</div>


