@model mvc3.Models.ViewModel.resetPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="login-account section-padding">
    <div class="container">
        <div class="row">
            
            <!--reset form-->
            <div class="col-md-6 col-sm-6">

                <form action="@Url.Action("ResetPassword","User")" class="create-account-form" method="post">
                    <h2 class="heading-title">
                        Üye misin?
                    </h2>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p class="form-row">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </p>
                    <p class="form-row">
                        @Html.EditorFor(model => model.newPassword, new { htmlAttributes = new { placeholder = "Şifre" } })
                        @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
                    </p>
                    <p class="form-row">
                        @Html.EditorFor(model => model.comfirmPassword, new { htmlAttributes = new { placeholder = "Şifre" } })
                        @Html.ValidationMessageFor(model => model.comfirmPassword, "", new { @class = "text-danger" })
                    </p>

                    @Html.HiddenFor(model=>model.resetCode)

                    <div class="submit" style="display:inline-block;">
                        <button name="submitcreate" id="submitcreate" type="submit" class="btn-default">
                            <span>
                                <i class="fa fa-user left"></i>
                                Kaydet
                            </span>
                        </button>
                    </div>
                    <div class="submit" style="display:inline-block; margin-left:50px;">

                        <span>
                            <i class="fa fa-user left"></i>
                            @Html.ActionLink("Giriş", "Login", new { @class = "btn-default" })
                        </span>

                    </div>

                </form>
            </div>
            <!--Messages/alerts-->
            <div class="col-md-6 col-sm-6">
                @if (ViewBag.status != null && Convert.ToBoolean(ViewBag.status))
                {
                    if (ViewBag.status == true)
                    {
                        <div class="alert alert-success">
                            <strong>Tebrikler!</strong>@ViewBag.message
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <strong>Uyarı!</strong>@ViewBag.message
                        </div>
                    }
                }
            </div>

        </div>
    </div>
</div>


