@model PagedList.IPagedList<mvc3.Areas.AdminPanel.Models.urun>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="shop-tab-area">
    <div class="shop-tab-list">
        <div class="shop-tab-pill pull-left">
            <ul>
                <li class="active" id="left"><a data-toggle="pill" href="#home"><i class="fa fa-th"></i><span>Grid</span></a></li>
                <li><a data-toggle="pill" href="#menu1"><i class="fa fa-th-list"></i><span>List</span></a></li>
            </ul>
        </div>
        <div class="shop-tab-pill pull-right">
            @using (Html.BeginForm("Index", "Shop", FormMethod.Get, new { id = "pageSizeForm" }))
            {
                <ul>
                    <li class="product-size-deatils">
                        <div class="show-label">
                            <label>Göster : </label>
                            @Html.DropDownList("pageSize")
                        </div>
                    </li>
                    <li class="product-size-deatils">
                        <div class="show-label">
                            <label><i class="fa fa-sort-amount-asc"></i>Sırala: </label>
                            @Html.DropDownList("orderBy")
                        </div>
                    </li>


                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) Of @Model.PageCount
                </ul>
            }
        </div>
    </div>
    <div class="tab-content">
        <div class="row tab-pane fade in active" id="home">
            <div class="shop-single-product-area">
                @foreach (var book in Model)
                {/*grid görünümü */
                    <div class="col-md-4 col-sm-6">
                        <div class="single-banner">
                            <div class="product-wrapper">
                                <a href="@Url.Action("productDetail","Shop", new { productId = @book.urunNo })" class="single-banner-image-wrapper">
                                    <img alt="" src="@Url.Action("Thumbnail", "Shop", new { width = 200, height = 250, Id =book.urunNo,_resimNo=book.resim.FirstOrDefault().resimNo })">
                                    <div class="price"><span>₺</span>@book.fiyat</div>
                                </a>
                                <div class="product-description">
                                    <div class="functional-buttons">
                                        <a href="@Url.Action("AddCard","Shop",new {productId=book.urunNo,quantity=1 })" title="Sepete Ekle">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                        <a href="javascript:void(0);" id="addFavourite" productId="@book.urunNo" title="Beğen">
                                            <i class="fa fa-heart-o"></i>
                                        </a>
                                        <a href="#" title="Quick view" data-toggle="modal" data-target="#@book.urunNo">
                                            <i class="fa fa-compress"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-bottom text-center">
                                <div class="banner-bottom-title">
                                    <a href="~/Shop/productDetail/productId=@book.urunNo">@book.urunAdi</a>
                                </div>
                                <div class="rating-icon">
                                    <i class="fa fa-star icolor"></i>
                                    <i class="fa fa-star icolor"></i>
                                    <i class="fa fa-star icolor"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("/", new
      {
            page,
            PageSize = ViewBag.psize,
            orderBy = ViewBag.orderBy
      }))
        <div id="menu1" class="tab-pane fade">
            <div class="row">

                @foreach (var book in Model)
                { /*list görünümü */
                    <div class="single-shop-product">
                        <div class="col-xs-12 col-sm-5 col-md-4">
                            <div class="left-item">
                                <a href="@Url.Action("productDetail","Shop", new { productId = @book.urunNo })" title="@book.urunAdi">
                                    <img src="@Url.Action("Thumbnail", "Shop", new { width = 150, height = 200, Id =book.urunNo,_resimNo=book.resim.FirstOrDefault().resimNo })" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-8">
                            <div class="deal-product-content">
                                <h4>
                                    <a href="@Url.Action("productDetail","Shop", new { productId = @book.urunNo })" title="@book.urunAdi">@book.urunAdi</a>
                                </h4>
                                <div class="product-price">
                                    <span class="new-price">₺ @book.fiyat</span>
                                    <span class="old-price">₺ @(book.fiyat * 1.10m)</span>
                                </div>
                                <div class="list-rating-icon">
                                    <i class="fa fa-star icolor"></i>
                                    <i class="fa fa-star icolor"></i>
                                    <i class="fa fa-star icolor"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>@book.aciklama</p>
                                <div class="availability">
                                    <span>@(book.stok > 0 ? "Stokta Var" : "Stok Yok")</span>
                                    <span><a href="@Url.Action("AddCard","Shop",new {productId=book.urunNo,quantity=1 })">Sepete Ekle</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>
@foreach (var book in Model)
{   /*Quick View görünümü */
    <div class="modal fade" id="@book.urunNo" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-product">
                        <div class="product-images">
                            <div class="main-image images">
                                <img alt="@book.urunAdi" src="@Url.Action("Thumbnail","Shop",new {width=250,height=300,id=book.urunNo,_resimNo=book.resim.FirstOrDefault().resimNo })">
                            </div>
                        </div>
                        <div class="product-info">
                            <h1>@book.urunAdi</h1>
                            <div class="price-box">
                                <p class="s-price"><span class="special-price"><span class="amount">₺@book.fiyat</span></span></p>
                            </div>
                            <a href="@Url.Action("productDetail","Shop",new {productId=book.urunNo })" class="see-all">Detayı görmek için</a>
                            <div class="quick-add-to-cart">
                                <form method="post" class="cart">
                                    <div class="numbers-row">
                                        <input type="number" id="french-hens" value="3">
                                    </div>
                                    <button class="single_add_to_cart_button" type="submit">Sepete Ekle</button>
                                </form>
                            </div>
                            <div class="quick-desc">
                                @book.aciklama
                            </div>
                            <div class="social-sharing">
                                <div class="widget widget_socialsharing_widget">
                                    <h3 class="widget-title-modal">Paylaş</h3>
                                    <ul class="social-icons">
                                        <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                                        <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                                        <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .product-info -->
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {

        $("#pageSize").change(function () {
            $("#pageSizeForm").submit();
        });
        $("#orderBy").change(function () {
            $("#pageSizeForm").submit();
        });

        $(document).on("click", "#addFavourite", function () {

            var urunNo = $(this).attr("productId");
            //alert(urunNo);
            //ajax
            $.ajax({
                url:'@Url.Action("AddFavourite","Account")',
                type: "POST",
                data: { productId: urunNo },
                success: function() {

                }

            });

        });
    });

</script>